---
to: src/components/<%= Name %>/<%= Name %>.js
---
import React from 'react'
import './<%= Name %>.scss'

const <%= Name %> = ({ children }) => (
  <div>{children}</div>
)

export default <%= Name %>

