---
to: src/components/<%= h.inflection.classify(name) %>/<%= h.inflection.classify(name) %>.js
---
import React from 'react'

import './<%= h.inflection.classify(name) %>.scss'

const <%= h.inflection.classify(name) %> = ({ children }) => (
  <div>{children}</div>
)

export default <%= h.inflection.classify(name) %>

